<div>
  <span class="help is-info" *ngIf="isLoading">Loading...</span>

  <table  id="dtBasicExample" class="table table-striped table-bordered table-sm" *ngIf="!isLoading">
    <thead>
      <tr>
        <th class="th-sm">ID</th>
        <th class="th-sm">Name</th>
        <th class="th-sm">Size</th>
        <th class="th-sm">Main Color</th>
        <th class="th-sm">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fruit of fruits">
        <td>{{ fruit.id }}</td>
        <td>{{ fruit.name }}</td>
        <td>{{ fruit.size }}</td>
        <td>{{ fruit.main_color ? fruit.main_color : "" }}</td>
        <td>
          <button
            type="button"
            class="btn btn-warning mr-2"
            *ngIf="!editing"
            (click)="showEditForm(fruit.id)"
          >
            Edit
          </button>
          <button class="btn btn-danger" (click)="deleteFruit(fruit.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <app-edit-form
    *ngIf="editing"
    [edit]="editForm"
    (saveEmitter)="editFruit($event)"
    (cancelEmitter)="closeEdit($event)"
  ></app-edit-form>
  <app-fruit-form *ngIf="!editing" (fruitAdded)="appendFruit($event)"></app-fruit-form>
</div>

